.*.swp
*~

*.cmd
*.o
*.d
*.cpio

kernel/.config
kernel/.config.old

kernel/.tmp_System.map
kernel/.tmp_kallsyms1.S
kernel/.tmp_kallsyms2.S
kernel/.tmp_kallsyms3.S
kernel/.tmp_vmlinux1
kernel/.tmp_vmlinux2
kernel/.tmp_vmlinux3
kernel/.version
kernel/Module.symvers
kernel/System.map
kernel/arch/arm/boot/Image
kernel/arch/arm/boot/compressed/lib1funcs.S
kernel/arch/arm/boot/compressed/piggy.gzip
kernel/arch/arm/boot/compressed/vmlinux
kernel/arch/arm/boot/compressed/vmlinux.lds
kernel/arch/arm/boot/zImage
kernel/arch/arm/kernel/asm-offsets.s
kernel/arch/arm/kernel/vmlinux.lds
kernel/arch/arm/lib/lib.a
kernel/drivers/char/consolemap_deftbl.c
kernel/drivers/char/defkeymap.c
kernel/include/config/
kernel/include/generated/
kernel/include/linux/version.h
kernel/kernel/bounds.s
kernel/kernel/timeconst.h
kernel/lib/crc32table.h
kernel/lib/gen_crc32table
kernel/lib/lib.a
kernel/scripts/basic/docproc
kernel/scripts/basic/fixdep
kernel/scripts/basic/hash
kernel/scripts/conmakehash
kernel/scripts/kallsyms
kernel/scripts/kconfig/conf
kernel/scripts/kconfig/lex.zconf.c
kernel/scripts/kconfig/zconf.hash.c
kernel/scripts/kconfig/zconf.tab.c
kernel/scripts/mod/elfconfig.h
kernel/scripts/mod/mk_elfconfig
kernel/scripts/mod/modpost
kernel/usr/gen_init_cpio
kernel/vmlinux
